/* ==================== 910px ==================== */
@media (max-width: 910px) {
    body {
        grid-template-columns: 1fr minmax(500px,850px) 1fr;
        margin: 16px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 24px;
    }

    select {
        font-weight: 600;
        width: 50%;
        font-size: 36px;
        height: 78px;
    }

    /* Section Meilleur film */
    .best-movie {
        flex-direction: column;
        align-items: center;
    }
    .movie {
        padding: 8px 16px;;
    }
    .best-movie img {
        width: 168px;
        height: 246px;
        object-fit: cover;
    }

    .best-movie .details {
        display: flex;
        flex-direction: column;
    }

    .best-movie button {
        margin-top: auto;
        align-self: flex-end;
        width: 123px;
        height: 49px;
        font-size: 14px;
    }

    /* Sections Autres / Carousels */
    .header-category {
        display: flex;
        flex-wrap: wrap; 
    }
    .category .carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 films par ligne */
        grid-auto-rows: auto;
        gap: 16px;
        max-height: calc(2 * 319px + 16px); /* 2 lignes + gap */
        overflow: hidden;
    }

    .card-movie {
        width: 100%;
        height: 319px;
    }

    /* Bouton Voir plus */
    .category .voir-plus {
        display: block;
        margin: 30px auto;
        width: 214px;
        height: 36px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 25px;
        background-color: #fa0b0b;
        color: #fff;
        border: none;
        cursor: pointer;
        text-align: center;
    }
    .category .voir-plus:hover {
        background-color: #dc0e0e;
    }

    /* Modal **/
    .modal-window::-webkit-scrollbar {
    display: none;
    }
    .modal-window {
        -ms-overflow-style: none;  /* IE et Edge */
        scrollbar-width: none;      /* Firefox */


        max-width: 75%;
        width: 75%;
        max-height: 90%;
        z-index: 1000; 
        font-family: 'Oswald', sans-serif;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;      
        grid-template-rows: auto auto auto auto auto;
        gap: 15px;
    }
    .header-movie {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
    }
    .btn-closecross {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    .btn-closecross:hover{
        border-radius: 10px;
        border: none;
        background-color: #f9d4d4;
    }
    /* Description sur 2ème ligne */
    .modal-window > p:first-of-type {
        grid-column: 1;
        grid-row: 2;
    }

    /* Image sur 3ème ligne */
    .modal-window img:not(.btn-closecross) {
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        max-width: 400px;
        height: auto;
        justify-self: center;
    }

    /* "Avec:" sur 4ème ligne */
    .modal-window h4 {
        grid-column: 1;
        grid-row: 4;
    }

    /* Acteurs sur 5ème ligne */
    .modal-window h4 + p {
        grid-column: 1;
        grid-row: 5;
    }

    /* Bouton "Fermer" (desktop) masqué */
    .btn-close {
        display: none;
    }
}
